{% extends 'bootstrap/base.html' %}
{% include "header.html" %}

{% block styles %}
{{super()}}
<!--<link href="static/css/styles.css" rel="stylesheet" />-->
<link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron2 text-center">

        <div class="container">
          <h1 class="display-4">☕️ Another Dangerous Writing App 💻</h1>
          <p class="lead">Don’t stop writing, or all progress will be lost.</p>
          <hr class="my-4">
          <p>You've found the right place! Checkout my collection of cafes with data on power socket availability, wifi speed and coffee quality.</p>
            <img src="{{url_for('static', filename=image)}}" alt="User Image" width=40%>

            <br>
            {% if coloring %}

                    <div class="container">
                      <div class="row">

                            <div class="col-lg-3">
                              <svg width="400" height="10">
                                <rect width="100" height="30" style="fill:rgb{{ most }};" />
                              </svg>
                            </div>

                            <div class="col-lg-3">
                              <svg width="400" height="10">
                                <rect width="100" height="30" style="fill:rgb{{ red }};" />
                              </svg>
                            </div>

                            <div class="col-lg-3">
                              <svg width="400" height="10">
                                <rect width="100" height="30" style="fill:rgb{{ green }};" />
                              </svg>
                            </div>

                            <div class="col-lg-3">
                              <svg width="400" height="10">
                                <rect width="100" height="30" style="fill:rgb{{ blue }};" />
                              </svg>
                            </div>

                      </div>
                    </div>

            {% endif %}
            <br>
            <form method="post">
                <input type="submit" value="Click Me" >
            </form>

        </div>

</div>

{% endblock %}










